.column {
    display: flex;
    margin: 25px;
    width: 400px;
}

.card-edit {
    border: solid rgb(193, 191, 186) 3px;
}

.card-edit img{
    width: 200px;
    height: 200px;
    margin: auto;
    padding-top: 20px;
}

.card-edit-body{
    text-align: center;
}

.card-edit-body h5{
    font-size: 30px;
    color: gray;
}

.card-edit-body p{
    font-size: 20px;
    color: gray;
}

.card-edit-actions {
    cursor: pointer;
}