.containerPage {
    text-align: center;
    font-size: 50px;
    padding-top: 20px;
}

.inputBuscar{
    width: 500px;
    justify-content: center;
    align-items: center;
    display: inline-flex;
}


.title-section-course{
    color: grey;
}

.row{
    margin: auto;
}

.rows-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.option-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.option-button{
    margin: 20px;
}

.modalCreateCourses{
    display: flex;
    justify-content: center;
    align-items: center;
}

#description{
    padding-bottom: 50px;
}