.side-button {
    display: block;    
    width: 100%;
    background-color: rgb(193, 191, 186);
    text-decoration: none;
    color: grey;
    margin-bottom: 20px;
    transition: 0.3s;
}

.sidebar-container {
    padding: 20px;
    text-align: center;
    background-color: rgb(227, 226, 223);
    height: 100%;
}

.side-button-container {
    margin-top: 20px;
}