.routes {
    position: relative;
    height: 100vh;
    transition: margin-left .5s;
}

.sidebar {
    position: absolute;
    height: 100%;
    background-color: rgb(255, 255, 255);
    width:  20%;
    z-index: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
}

.principal-container {
    display: flex;
}

.hidden-button {
    
}